projects/
2025-01-22_11-18-41_Planejar_a_cidade_para_transportes_com_forca_humana_docs/result_docs/actors_metrics.md
2025-01-22_11-18-41_Planejar_a_cidade_para_transportes_com_forca_humana_docs/result_docs/actors.md
2025-01-22_11-18-41_Planejar_a_cidade_para_transportes_com_forca_humana_docs/result_docs/adjacent_jobs.md
2025-01-22_11-18-41_Planejar_a_cidade_para_transportes_com_forca_humana_docs/result_docs/emotional_social_jobs.md
2025-01-22_11-18-41_Planejar_a_cidade_para_transportes_com_forca_humana_docs/result_docs/job_factors.md
2025-01-22_11-18-41_Planejar_a_cidade_para_transportes_com_forca_humana_docs/result_docs/segment_actors.md
2025-01-22_11-18-41_Planejar_a_cidade_para_transportes_com_forca_humana_docs/result_docs/segment_adjacent_jobs.md
2025-01-22_11-18-41_Planejar_a_cidade_para_transportes_com_forca_humana_docs/result_docs/segment_job_factors.md
2025-01-22_11-18-41_Planejar_a_cidade_para_transportes_com_forca_humana_docs/result_docs/segment_job_map_success_criteria.md
2025-01-22_11-18-41_Planejar_a_cidade_para_transportes_com_forca_humana_docs/result_docs/segment_job_steps.md
2025-01-22_11-18-41_Planejar_a_cidade_para_transportes_com_forca_humana_docs/result_docs/segments.md
2025-01-22_11-18-41_Planejar_a_cidade_para_transportes_com_forca_humana_docs/result_docs/success_criteria_finance.md
2025-01-22_11-18-41_Planejar_a_cidade_para_transportes_com_forca_humana_docs/roadmap_docs/project_roadmap.md
2025-01-22_11-18-41_Planejar_a_cidade_para_transportes_com_forca_humana_docs/roadmap_docs/user_options.md
.clinerules-*
